@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

bodY {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #151515, #999999);
}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 20px;
    transition-delay: 0.5s;
}

.card:hover {
    width: 600px;
    transition-delay: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card:hover .circle::before {
    transition-delay: 0.5s;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: var(--clr);
}

.card .circle .logo {
    position: relative;
    width: 250px;
    transform: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}

.card .product_img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(215deg);
    height: 100px;
    transition: 0.5s ease-in-out;
}

.card:hover .product_img {
    transition-delay: 0.75s;
    top: 25%;
    left: 72%;
    height: 200px;
    transform: translate(-50%, -50%) scale(1) rotate(10deg);
}

.card .content {
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 20px;
}

.card .content h2 {
    color: #151515;
    text-shadow: 0 0 3px #ff0000;
    text-transform: uppercase;
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 8px;
}

.card .content p {
    color: #fff;
}


/* ---------------- */

.box {
    width: 200px;
    height: 60px;
    background: #151515;
    color: #6495ED;
    border-radius: 40px;
    padding: 5px 5px;
    position: relative;
    text-align: center;
    top: 15px;
}

.border-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #171618, #40E0D0);
    animation: animate-border-top 2s linear infinite;
}

@keyframes animate-border-top {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.border-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, #171618, #40E0D0);
    animation: animate-border-right 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-right {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.border-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #171618, #40E0D0);
    animation: animate-border-bottom 2s linear infinite;
}

@keyframes animate-border-bottom {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.border-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, #171618, #40E0D0);
    animation: animate-border-left 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate-border-left {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

div.box {
    overflow: hidden;
    border-radius: 8px;
}
